In [35]:
import pandas as pd
from sklearn.preprocessing import MinMaxScaler, StandardScaler

### S03T02 - Normalizar ou padronizar colunas numéricas.S03T02 - Normalizar ou padronizar colunas numéricas.

In [38]:
df = pd.read_csv('data_root/df_limpo.csv',index_col=0)
df.head()

,magnitude,data,hora,periodo,subnational,city,depth,felt,continent,latitude,longitude,mmi,cdi,impacto,magnitude_range,media por magnitude
0,4.8,2024-09-17,00:49:42,Noite,Texas,Tarzan-Lenorah,4.0440,1893,North America,32.3984,-102.044,5,6,Baixo,4-5,8.028601
1,5.1,2024-09-17,00:49:42,Noite,Texas,Tarzan-Lenorah,6.1279,2042,North America,32.4140,-102.057,5,6,Médio,5-6,10.632600
2,3.7,2024-09-16,11:22:08,Manhã,California,Los Angeles,10.9000,1580,North America,34.0678,-118.807,4,4,Baixo,3-4,8.433737
3,3.9,2024-09-14,17:01:06,Tarde,Texas,Van Horn,6.2024,5,North America,31.6470,-104.450,4,3,Baixo,3-4,8.433737
4,4.1,2024-09-14,17:01:06,Tarde,Texas,Van Horn,8.8140,4,North America,31.6323,-104.473,4,3,Baixo,4-5,8.028601

In [39]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 536 entries, 0 to 535
Data columns (total 16 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   magnitude            536 non-null    float64
 1   data                 536 non-null    object
 2   hora                 536 non-null    object
 3   periodo              536 non-null    object
 4   subnational          536 non-null    object
 5   city                 536 non-null    object
 6   depth                536 non-null    float64
 7   felt                 536 non-null    int64
 8   continent            536 non-null    object
 9   latitude             536 non-null    float64
 10  longitude            536 non-null    float64
 11  mmi                  536 non-null    int64
 12  cdi                  536 non-null    int64
 13  impacto              536 non-null    object
 14  magnitude_range      536 non-null    object
 15  media por magnitude  536 non-null    float64
dtypes: float64(5), int64(3), object(8)
memory usage: 71.2+ KB

In [ ]:
# Tratando a coluna 'magnitude_range': Convertendo para valores médios
def intervalo_para_media(intervalo):
    limites = intervalo.split('-')
    return (float(limites[0]) + float(limites[1])) / 2

df['magnitude_range'] = df['magnitude_range'].apply(intervalo_para_media)
display(df['magnitude_range'])

0      4.5
1      5.5
2      3.5
3      3.5
4      4.5
      ...
531    5.5
532    6.5
533    5.5
534    6.5
535    5.5
Name: magnitude_range, Length: 536, dtype: float64

In [41]:
# Definindo as colunas numéricas que serão normalizadas
colunas_numericas = ['magnitude', 'depth', 'felt', 'latitude', 'longitude', 
                     'mmi', 'cdi', 'magnitude_range', 'media por magnitude']

In [42]:
# Aplicando a normalização (Min-Max Scaling)
scaler = MinMaxScaler()
df_normalizado = df.copy()
df_normalizado[colunas_numericas] = scaler.fit_transform(df[colunas_numericas])

In [43]:
# Visualizando o resultado
print("Dados Normalizados:")
display(df_normalizado)

Dados Normalizados:

,magnitude,data,hora,periodo,subnational,city,depth,felt,continent,latitude,longitude,mmi,cdi,impacto,magnitude_range,media por magnitude
0,0.439024,2024-09-17,00:49:42,Noite,Texas,Tarzan-Lenorah,0.146463,0.010300,North America,0.680375,0.174349,0.333333,0.666667,Baixo,0.428571,0.194508
1,0.512195,2024-09-17,00:49:42,Noite,Texas,Tarzan-Lenorah,0.217542,0.011111,North America,0.680515,0.174310,0.333333,0.666667,Médio,0.571429,0.394815
2,0.170732,2024-09-16,11:22:08,Manhã,California,Los Angeles,0.380312,0.008597,North America,0.695300,0.124643,0.166667,0.444444,Baixo,0.285714,0.225672
3,0.219512,2024-09-14,17:01:06,Tarde,Texas,Van Horn,0.220083,0.000027,North America,0.673658,0.167214,0.166667,0.333333,Baixo,0.285714,0.225672
4,0.268293,2024-09-14,17:01:06,Tarde,Texas,Van Horn,0.309162,0.000022,North America,0.673526,0.167146,0.166667,0.333333,Baixo,0.428571,0.194508
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
531,0.707317,2023-10-07,07:40:30,Manhã,Herat,Zindah Jan,0.434204,0.000016,Asia,0.700407,0.660871,0.666667,0.555556,Médio,0.571429,0.394815
532,0.804878,2023-10-07,07:12:49,Manhã,Herat,Zindah Jan,0.281397,0.000060,Asia,0.699603,0.660430,0.833333,1.000000,Alto,0.714286,0.339744
533,0.585366,2023-10-07,06:49:41,Manhã,Herat,Zindah Jan,0.358381,0.000000,Asia,0.699534,0.660639,0.666667,0.000000,Médio,0.571429,0.394815
534,0.804878,2023-10-07,06:41:03,Manhã,Herat,Zindah Jan,0.486050,0.000103,Asia,0.700289,0.660554,0.833333,0.888889,Alto,0.714286,0.339744
535,0.658537,2023-10-03,09:21:03,Manhã,Sudurpashchim,Jayaprithivi,0.451941,0.000713,Asia,0.654609,0.717741,0.666667,0.888889,Médio,0.571429,0.394815